<section class="jumbotron text-center main-img">
  <div class="container">
    <h1 class="jumbotron-heading text-white">Cocktails</h1>
    <p class="lead text-white">A cocktail is a mixed drink typically made with a distilled liquor (such as arrack, brandy, cachaça, gin, rum, tequila, vodka, or whiskey) as its base ingredient that is then mixed with other ingredients or garnishments. Sweetened liqueurs, wine, or beer may also serve as the base or be added.</p>
    <p>
      <%= link_to 'Add Cocktail', new_cocktail_path, class: "btn btn-primary my-2" %>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% if @cocktails.any? %>
        <% @cocktails.each do |cocktail| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <% if cocktail.cover_image.attached? %>
                <%= image_tag url_for(cocktail.cover_image), class: 'card-img-top' %>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%= cocktail.name %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'View', cocktail_path(cocktail), class: 'btn btn-sm btn-outline-secondary' %>
                    <%= link_to 'Edit', edit_cocktail_path(cocktail), class: 'btn btn-sm btn-outline-secondary' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible fade show no-objects-found" role="alert">
            <%= t(:not_found, scope: :cocktail) %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
