<section class="jumbotron text-center" style="background-image: url(<%= url_for(@cocktail.cover_image) %>); background-position: center; background-size: cover;">
  <div class="container">
    <h1 class="jumbotron-heading text-white"><%= @cocktail.name %></h1>
    <p>
      <%= link_to '', edit_cocktail_path(@cocktail), class: 'fas fa-edit fa-3x' %>
      <%= link_to '', cocktail_path(@cocktail), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash fa-3x text-danger' %>      
    </p>
  </div>
</section>

<div class="card mb-3">
  <div class="card-body">
    <div class='row'>
      <div class='col-6 col-lg-6'>
        <h5><%= t(:ingredient_list) %></h5>
        <ul>
          <% @cocktail.doses.includes(:ingredient).each do |dose| %>
            <li>
              <strong><%= dose.ingredient.name %></strong>: <%= dose.description %>
              <%= link_to(dose_path(dose), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash text-danger') do %>
              <% end %>
            </li>
          <% end %>
        <ul>
      </div>
      <div class='col-6 col-lg-6'>
        <h5><%= t(:add_ingredients) %></h5>
        <%= simple_form_for(@cocktail.doses.build, as: :dose, method: :post, url: cocktail_doses_path(@cocktail)) do |dose| %>
          <%= dose.association :ingredient, as: :select %>
          <%= dose.label :description, class: 'form-label' %>
          <%= dose.text_area :description, class: 'form-control' %>
          <%= dose.hidden_field :cocktail_id %>

          <%= dose.button :submit, 'Add Ingredient', class: 'btn btn-primary mt-2' %>
      	<% end %>
      </div>
    </div>
    <div class="pt-5">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
